<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<table th:fragment="6ans" class="ansTable">
	<tr>
		<th>Option A-F</th>
		<th>Text</th>
		<th>Right?</th>
	</tr>


	<tr>
		<td><strong>A:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt1Text" type="text" /></td>
		<td>
			<select id="opt1Right" name="opt1Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>


	<tr>
		<td><strong>B:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt2Text" type="text" /></td>
		<td>
			<select id="opt2Right" name="opt2Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>


	<tr>
		<td><strong>C:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt3Text" type="text" /></td>
		<td>
			<select id="opt3Right" name="opt3Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>


	<tr>
		<td><strong>D:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt4Text" type="text" /></td>
		<td>
			<select id="opt4Right" name="opt4Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>


	<tr>
		<td><strong>E:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt5Text" type="text" /></td>
		<td>
			<select id="opt5Right" name="opt5Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>


	<tr>
		<td><strong>F:</strong></td>
		<td><input class="textFieldStyle1" maxlength="80" name="opt6Text" type="text" /></td>
		<td>
			<select id="opt6Right" name="opt6Right">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
		</td>
	</tr>
</table>
</body>
</html>
