<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="questionAnsAlt" id="questionAnsAlt">
<div th:if="${question.hasMultipleRightAnswers()}">
	<p>
		<label class="checkboxContainer">
			<span class="ansOpt">A)</span>&nbsp;<span th:text="${question.getOpt1Text()}"></span>
			<input type="checkbox" name="opt1Checked" />
			<span class="checkmark"></span>
		</label>
	</p>
	<p>
		<label class="checkboxContainer">
			<span class="ansOpt">B)</span>&nbsp;<span th:text="${question.getOpt2Text()}"></span>
			<input type="checkbox" name="opt2Checked" />
			<span class="checkmark"></span>
		</label>
	</p>
	<p>
		<label class="checkboxContainer">
			<span class="ansOpt">C)</span>&nbsp;<span th:text="${question.getOpt3Text()}"></span>
			<input type="checkbox" name="opt3Checked" />
			<span class="checkmark"></span>
		</label>
	</p>
	<p>
		<label class="checkboxContainer">
			<span class="ansOpt">D)</span>&nbsp;<span th:text="${question.getOpt4Text()}"></span>
			<input type="checkbox" name="opt4Checked" />
			<span class="checkmark"></span>
		</label>
	</p>

	<p th:if="${question.haveSixOptions() == true}">
		<label class="checkboxContainer">
			<span class="ansOpt">E)</span>&nbsp;<span th:text="${question.getOpt5Text()}"></span>
			<input type="checkbox" name="opt5Checked" />
			<span class="checkmark"></span>
		</label>
	</p>
	<p th:if="${question.haveSixOptions() == true}">
		<label class="checkboxContainer">
			<span class="ansOpt">F)</span>&nbsp;<span th:text="${question.getOpt6Text()}"></span>
			<input type="checkbox" name="opt6Checked" />
			<span class="checkmark"></span>
		</label>
	</p>
</div>

<div th:unless="${question.hasMultipleRightAnswers()}">
	<p>
		<label class="radioButtonContainer">
			<span class="ansOpt">A)</span>&nbsp;<span th:text="${question.getOpt1Text()}"></span>
			<input type="radio" name="answer" value="" checked />
			<input type="hidden" id="opt1Checked" name="opt1Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>
	<p>
		<label class="radioButtonContainer">
			<span class="ansOpt">B)</span>&nbsp;<span th:text="${question.getOpt2Text()}"></span>
			<input type="radio" name="answer" value="" />
			<input type="hidden" id="opt2Checked" name="opt2Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>
	<p>
		<label class="radioButtonContainer">
			<span class="ansOpt">C)</span>&nbsp;<span th:text="${question.getOpt3Text()}"></span>
			<input type="radio" name="answer" value="" />
			<input type="hidden" id="opt3Checked" name="opt3Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>
	<p>
		<label class="radioButtonContainer">
			<span class="ansOpt">D)</span>&nbsp;<span th:text="${question.getOpt4Text()}"></span>
			<input type="radio" name="answer" value="" />
			<input type="hidden" id="opt4Checked" name="opt4Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>

	<p th:if="${question.haveSixOptions() == true}">
		<label class="radioButtonContainer">
			<span class="ansOpt">E)</span>&nbsp;<span th:text="${question.getOpt5Text()}"></span>
			<input type="radio" name="answer" value="" />
			<input type="hidden" id="opt5Checked" name="opt5Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>
	<p th:if="${question.haveSixOptions() == true}">
		<label class="radioButtonContainer">
			<span class="ansOpt">F)</span>&nbsp;<span th:text="${question.getOpt6Text()}"></span>
			<input type="radio" name="answer" value="" />
			<input type="hidden" id="opt6Checked" name="opt6Checked" value="0" />
			<span class="radioBtn"></span>
		</label>
	</p>
</div>
</div> <!-- questionAnsAlt -->
</body>
</html>
