<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<select th:fragment="quizTopic" id="quizTopic" name="quizTopic">
	<option value="0">Sports</option>
	<option value="1">Games &amp; Leisure</option>
	<option value="2">History</option>
	<option value="3">Culture</option>
	<option value="4">Literature</option>
	<option value="5">Music</option>
	<option value="6">Food &amp; Drinks</option>
	<option value="7">Animals &amp; Nature</option>
	<option value="8">Entertainment</option>
	<option value="9">Language</option>
	<option value="10">Movies &amp; TV Shows</option>
	<option value="11">Geography</option>
	<option value="12">Society</option>
	<option value="13">Technology &amp; Science</option>
	<option value="14">Other</option>
</select>
</body>
</html>
