#modalReportQuestionErrors {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: none; /* Hidden by default */
	height: 100%;
	left: 0;
	overflow: auto; /* Enable scroll if needed */
	padding-top: 100px;
	position: fixed; /* Stay in place */
	top: 0;
	width: 100%;
	z-index: 1; /* Sit on top */
}

#modalReportQuestionErrors_object {
	background-color: #fefefe;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 60%;
	margin: auto;
	overflow: auto;
	padding: 0;
	position: relative;
	text-align: center;
	width: 335px;

	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

#modalRqeHeader {
	background-color: lightgrey;
	color: white;
	height: 1.5em;
	padding: 1em;
}

#modalRqeBody {
	font-size: small;
	text-align: left;
	padding: 1em;
}

#reportErrorsDesc {
	border: 1px solid peru;
	height: 200px;
	resize: none;
	width: 295px;
}

.closeRqe {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closeRqe:hover, .closeRqe:focus {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}
