.popupContainer {
	cursor: pointer;
	display: inline-block;
	position: relative;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.popupContainer .popupActual {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 6px;
	bottom: 125%;
	color: black;
	left: 50%;
	margin-left: -80px;
	padding: 8px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	width: 160px;
	z-index: 1;
}

/*
 * Popup arrow
 */
.popupContainer .popupActual::after {
	border-color: #ccc transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	content: "";
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 100%;
}

.popupActual td {
	font-size: x-small;
	font-weight: bold;
	height: 3em;
	padding-left: 8px;
}

.popupActual td:hover {
	border-left: 3px solid peru;
}

/*
 * Toggle this class  --  hide and show the popup
 */
.popupContainer .show {
	visibility: visible;

	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/*
 * Add animation (fade in the popup)
 */
@-webkit-keyframes fadeIn {
	from	{ opacity: 0; }
	to	{ opacity: 1; }
}
@keyframes fadeIn {
	from	{ opacity: 0; }
	to	{ opacity: 1; }
}

.bullets {
	color: #bbb;
}
.bullets:hover {
	color: peru;
}
