body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 100%;
}

#top {
	background: linear-gradient(lightslategrey, darkslategrey);
	padding: 1em;
}
#header {
	color: white;
	font-size: xx-large;
	font-weight: bold;
}
#middle {
	padding: 2em;
	width: 90%;
}

#navigation { width: 100%; }
#navigationTable {
	padding: 1em;
	width: 90%;
}
#questionAnsAlt {
	margin-left: 25%;
	margin-right: auto;
}
#quizzesTable2 th, td { text-align: left; }
#quizzesTable2 { width: 70%; }
#version {
	color: white;
	font-size: small;
}

.ansOpt { color: peru; }
.ansTable input { width: 85%; }
.ansTable th, td { text-align: left; }
.ansTable { width: 85%; }

.button {
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.button1, .button3 {
	background-color: forestgreen;
}
.button2 {
	background-color: forestgreen;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button3:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button4, .button6 {
	background-color: peru;
}
.button5 {
	background-color: peru;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button6:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dBlock {
	display: block;
}
.dInline {
	display: inline;
}
.dInlineBlock {
	display: inline-block;
}
.dNone {
	display: none;
}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.floatNone {
	float: none;
}

.gfxFailure {
	color: red;
	font-weight: bold;
}
.gfxSuccess {
	color: mediumseagreen;
	font-weight: bold;
}
.gfxWarn {
	color: orange;
	font-weight: bold;
}
.label1 {
	color: black;
	font-weight: bold;
}
.label2 {
	color: peru;
	font-weight: bold;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.centerDiv {
	margin: auto;
	width: 50%;
}
.centerTable {
	margin-left: auto;
	margin-right: auto;
}

.textFieldStyle1 {
	border: 1px solid peru;
	padding: 0.5em;
}
.textFieldStyle2 {
	border: 1px solid black;
	padding: 0.5em;
}

.txtBold { font-weight: bold; }
.txtNormal { font-weight: normal; }
.txtUnderline { text-decoration: underline; }

.txtXXsmall	{ font-size: xx-small; }
.txtXsmall	{ font-size: x-small; }
.txtSmall	{ font-size: small; }
.txtMedium	{ font-size: medium; }
.txtLarge	{ font-size: large; }
.txtXlarge	{ font-size: x-large; }
.txtXXlarge	{ font-size: xx-large; }

.vertAlignBottom { vertical-align: bottom; }
.vertAlignTop { vertical-align: top; }

.w60 { width: 60%; }
.w65 { width: 65%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w85 { width: 85%; }
.w100 { width: 100%; }

a {
	color: peru;
	text-decoration: none;
}
a:hover {
	color: peru;
	text-decoration: underline;
}
h1 {
	border-bottom: 3px solid peru;
	color: grey;
	display: inline-block;
}
h2, h3 { color: peru; }
h4, h5, h6 { color: black; }
