body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 100%;
}

#top {
	background: linear-gradient(lightslategrey, darkslategrey);
	padding: 1em;
}
#header {
	color: white;
	font-size: xx-large;
	font-weight: bold;
}
#middle {
	padding: 2em;
	width: 90%;
}

#navigation { width: 100%; }
#navigationTable {
	padding: 1em;
	width: 90%;
}
#questionAnsAlt {
	margin-left: 25%;
	margin-right: auto;
}
#quizzesTable2 th, td { text-align: left; }
#quizzesTable2 { width: 70%; }

.ansOpt { color: peru; }
.ansTable input { width: 85%; }
.ansTable th, td { text-align: left; }
.ansTable { width: 85%; }
.gfxFailure {
	color: red;
	font-weight: bold;
}
.gfxSuccess {
	color: mediumseagreen;
	font-weight: bold;
}
.gfxWarn {
	color: orange;
	font-weight: bold;
}
.label1 {
	color: black;
	font-weight: bold;
}
.label2 {
	color: peru;
	font-weight: bold;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.textFieldStyle1 {
	border: 1px solid peru;
	padding: 0.5em;
}
.textFieldStyle2 {
	border: 1px solid black;
	padding: 0.5em;
}

.txtBold { font-weight: bold; }
.txtNormal { font-weight: normal; }

.w60 { width: 60%; }
.w65 { width: 65%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w85 { width: 85%; }

a {
	color: peru;
	text-decoration: none;
}
a:hover {
	color: peru;
	text-decoration: underline;
}
h1 {
	border-bottom: 3px solid peru;
	color: grey;
	display: inline-block;
}
h2, h3 { color: peru; }
h4, h5, h6 { color: black; }
