body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 100%;
}
h1 {
	border-bottom: 3px solid peru;
	color: grey;
	display: inline-block;
}
h2, h3, h4, h5 {
	color: peru;
}
a {
	color: peru;
	text-decoration: none;
}
a:hover {
	color: peru;
	text-decoration: underline;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
#header {
	color: white;
	font-size: xx-large;
	font-weight: bold;
}
#top {
	background-color: slategrey;
	padding: 1em;
}
#navigation {
	width: 100%;
}
#navigationTable {
	padding: 1em;
	width: 90%;
}
#middle {
	padding: 2em;
	width: 90%;
}
/* #quizzesTable1 {} */
#quizzesTable2 {
	width: 70%;
}
#quizzesTable2 th, td {
	text-align: left;
}
.label1 {
	color: black;
	font-weight: bold;
}
.label2 {
	color: peru;
	font-weight: bold;
}
.textFieldStyle1 {
	border: 1px solid peru;
	/*border-radius: 0.5em;*/
	padding: 0.5em;
}
.textFieldStyle2 {
	border: 1px solid black;
	/*border-radius: 0.5em;*/
	padding: 0.5em;
}
.ansTable { width: 85%; }
.ansTable th, td { text-align: left; }
.ansTable input { width: 85%; }
.w60 { width: 60%; }
.w65 { width: 65%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
