<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Add IMAGE question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	#imageView {
		border: 1px solid black;
		display: none;
		height: 13%;
		width: 13%;
	}
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<p>Please, choose question type and number of answers:</p>

	<table>
	<tr>
		<td class="vertAlignBottom">
			<form th:action="@{/addQuestion}" method="POST" th:with="includeAllOpt=false">

			<select th:replace="fragments/questionType :: questionType"></select>
			<select th:replace="fragments/numAnswers :: numAnswers"></select>

			<div th:replace="fragments/commonInput :: commonInput"></div>

			<input type="hidden" id="questionNum" name="questionNum" th:value="${questionNum}" />

			<p><input type="submit" value="Change" class="button button4" /></p>

			</form>
		</td>
		<td th:if="${questionNum > 1}" class="vertAlignBottom">
			<form th:action="@{/addQuestion}" method="POST">

			<div th:replace="fragments/commonInput :: commonInput"></div>

			<input type="hidden" id="questionNum" name="questionNum" th:value="${questionNum - 1}" />

			<p><input type="submit" value="&lsaquo; Prev" class="button button1" /></p>

			</form>
		</td>
		<td th:if="${quiz != null && questionNum <= quiz.getNumQuestions()}" class="vertAlignBottom">
			<form th:action="@{/addQuestion}" method="POST">

			<div th:replace="fragments/commonInput :: commonInput"></div>

			<input type="hidden" id="questionNum" name="questionNum" th:value="${questionNum + 1}" />

			<p><input type="submit" value="Next &rsaquo;" class="button button1" /></p>

			</form>
		</td>
	</tr>
	</table>

	<h1>Add IMAGE question for: <span th:text="${quizTitle}"></span></h1>

	<p th:if="${errorMsg}">
		<span th:text="${errorMsg}" class="gfxFailure"></span>
	</p>

	<form th:action="@{/addImageQuestion}" method="POST" enctype="multipart/form-data">
		<p><span th:text="${questionNum}"></span>. Question:</p>

		<p>
			<input class="textFieldStyle1 w80" maxlength="180" name="question" type="text"
			    th:value="${(question != null) ? question.getQuestion() : ''}" />
		</p>

		<p>Image file:</p>
		<p><input accept="image/*" class="" name="imageFile" onchange="previewImage(event)" type="file" /></p>
		<p><img alt="" id="imageView" src="" /></p>

		<div th:if="${numAnswers} == 4">
			<table th:replace="fragments/4ans :: 4ans"></table>
		</div>
		<div th:if="${numAnswers} == 6">
			<table th:replace="fragments/6ans :: 6ans"></table>
		</div>

		<div th:replace="fragments/commonInput :: commonInput"></div>

		<input type="hidden" id="numAnswers" name="numAnswers" th:value="${numAnswers}" />
		<input type="hidden" id="questionNum" name="questionNum" th:value="${questionNum}" />

		<p th:unless="${questionNum == (quiz.getNumQuestions() + 1)}">
			<input type="submit" value="Edit question" class="button button3" />
		</p>
		<p th:if="${questionNum == (quiz.getNumQuestions() + 1)}">
			<input class="button button3" type="submit"
			    th:value="${(questionNum == quiz.getNumQuestionsGoal()) ? 'Create Quiz' : 'Add question'}" />
		</p>
	</form>

	<form th:action="@{/abortCreateQuiz}" method="POST">
		<p><input type="submit" value="Cancel" class="button button4" /></p>

		<div th:replace="fragments/commonInput :: commonInput"></div>
	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>

<script type="text/javascript">
var previewImage = function (event) {
	var output = document.getElementById("imageView");

	output.src = URL.createObjectURL(event.target.files[0]);
	output.onload = function () {
		output.style.display = "block";
		URL.revokeObjectURL(output.src);
	};
};
</script>
</body>
</html>
