<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Add IMAGE question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<form th:action="@{/addQuestion}" method="POST" th:with="includeAllOpt=false">
		<p>Please, choose question type and number of answers:</p>

		<select th:replace="fragments/questionType :: questionType"></select>
		<select th:replace="fragments/numAnswers :: numAnswers"></select>

		<input type="hidden" id="quizTitle" name="quizTitle" th:value="${quizTitle}" />
		<input type="hidden" id="quizTopic" name="quizTopic" th:value="${quizTopic}" />
		<input type="hidden" id="quizLang"  name="quizLang"  th:value="${quizLang}" />

		<p><input type="submit" value="Change" class="button button4" /></p>
	</form>

	<h1>Add IMAGE question for: <span th:text="${quizTitle}"></span></h1>

	<p th:if="${errorMsg}">
		<span th:text="${errorMsg}" class="gfxFailure"></span>
	</p>

	<form th:action="@{/addImageQuestion}" method="POST" enctype="multipart/form-data">
		<p><span th:text="${questionNum}"></span>. Question:</p>
		<p><input class="textFieldStyle1 w80" maxlength="180" name="question" type="text" /></p>

		<p>Image file:</p>
		<p><input type="file" name="imageFile" class="" /></p>

		<div th:if="${numAnswers} == 4">
			<table th:replace="fragments/4ans :: 4ans"></table>
		</div>
		<div th:if="${numAnswers} == 6">
			<table th:replace="fragments/6ans :: 6ans"></table>
		</div>

		<input type="hidden" id="quizTitle" name="quizTitle" th:value="${quizTitle}" />
		<input type="hidden" id="quizTopic" name="quizTopic" th:value="${quizTopic}" />
		<input type="hidden" id="quizLang"  name="quizLang"  th:value="${quizLang}" />

		<input type="hidden" id="numAnswers" name="numAnswers" th:value="${numAnswers}" />

		<p><input type="submit" value="Add question" class="button button3" /></p>
	</form>

	<form th:action="@{/doneWithQuestions}" method="post">
		<p><input type="submit" value="No more questions" class="button button4" /></p>

		<input type="hidden" id="quizTitle" name="quizTitle" th:value="${quizTitle}" />
		<input type="hidden" id="quizTopic" name="quizTopic" th:value="${quizTopic}" />
		<input type="hidden" id="quizLang"  name="quizLang"  th:value="${quizLang}" />
	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
