<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Add question for ...</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h1>Add question</h1>

	<form th:action="@{/addQuestion}" method="post">
		<p>Please, choose question type and number of answers:</p>

		<select th:replace="fragments/questionType :: questionType"></select>
		<select th:replace="fragments/numAnswers :: numAnswers"></select>

		<input type="hidden" id="quizTitle" name="quizTitle" th:value="${quizTitle}" />
		<input type="hidden" id="quizTopic" name="quizTopic" th:value="${quizTopic}" />
		<input type="hidden" id="quizLang"  name="quizLang"  th:value="${quizLang}" />

		<p><input type="submit" value="Next &rsaquo;" class="button button1" /></p>
	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
