<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Add TEXT question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>Add TEXT question for: <span th:text="${quizTitle}"></span></h1>

<form th:action="@{/addTextQuestion}" method="post">

<p>Question:</p>

<p><input type="text" name="question" /></p>

<div th:if="${numAnswers} == 4">
<table th:replace="fragments/4ans :: 4ans"></table>
</div>
<div th:if="${numAnswers} == 6">
<table th:replace="fragments/6ans :: 6ans"></table>
</div>

<p><input type="submit" value="Add question" /></p>
</form>

<form th:action="@{/doneWithQuestions}" method="post">
<p><input type="submit" value="No more questions" /></p>
</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
