<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Image Question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/checkbox.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/modalOutAnswer.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/modalReportQuestionErrors.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/modalReportQuestionContents.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/popup.css}" rel="STYLESHEET" type="text/css" />

	<style>
	img.question {
		border: 1px solid black;
		height: 45%;
		width: 45%;
	}
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h2 class="center"><span th:text="${quiz.getTitle()}"></span></h2>

	<div class="center centerDiv">
		<h3 class="dInline">
			Question number <span th:text="${question.getQuestionNum()}"></span>
		</h3>

		<div class="dInline floatRight popupContainer" onclick="toggleReportPopup()">
			<span class="bullets">&bull;&bull;&bull;</span>

			<table class="popupActual" id="reportPopup">
			<tr>
				<td onclick="openReportErrorsForm()">
				Report Errors
				</td>
			</tr>
			<tr>
				<td onclick="openReportContentsForm()">
				Report Contents
				</td>
			</tr>
			</table>
		</div>
	</div>

	<h4 class="center">&ldquo;<span th:text="${question.getQuestion()}"></span>&rdquo;?</h4>

	<p class="center">
		<img
			th:alt="${'Question' + ' ' + question.getQuestionNum()}"
			th:src="${binary}"
			class="question" />
	</p>

	<h4 class="center">Alternatives</h4>

	<form action="javascript:void(0);" id="ansQuestionForm" method="POST" onsubmit="evaluateAnswer()">

		<div th:replace="fragments/questionAnsAlt :: questionAnsAlt"></div>

		<input type="hidden" name="playerId" th:value="${playerId}" />
		<input type="hidden" name="quizId" th:value="${quiz.getUniqueId()}" />
		<input type="hidden" name="questionNum" th:value="${question.getQuestionNum()}" />

		<p class="center"><input type="submit" value="Answer" class="button button2" /></p>

	</form>

	<form th:action="@{/exitQuiz}" method="POST">
		<input type="hidden" name="playerId" th:value="${playerId}" />
		<input type="hidden" name="quizId" th:value="${quiz.getUniqueId()}" />

		<p class="center"><input type="submit" value="Exit" class="button button5" /></p>
	</form>

	<div th:replace="fragments/modalOutputAnswer :: modalOutputAnswer"></div>
	<div th:replace="fragments/modalReportQuestionErrors :: modalReportQuestionErrors"></div>
	<div th:replace="fragments/modalReportQuestionContents :: modalReportQuestionContents"></div>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>

<script>
function toggleReportPopup() {
	var popup = document.getElementById("reportPopup");
	popup.classList.toggle("show");
}
</script>
<script src="/scripts/reportQuestionErrors.js"></script>
<script src="/scripts/reportQuestionContents.js"></script>
<script src="/scripts/evaluateAnswer.js"></script>
<script src="/scripts/answerQuestion.js"></script>
</body>
</html>
