<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ  --  Image Question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />
	<link th:href="@{/css/checkbox.css}" rel="STYLESHEET" type="text/css" />

	<style>
	img.question {
		border: 1px solid black;
		height: 45%;
		width: 45%;
	}
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h2 class="center"><span th:text="${quiz.getTitle()}"></span></h2>
	<h3 class="center">Question number <span th:text="${question.getQuestionNum()}"></span></h3>
	<h4 class="center">&ldquo;<span th:text="${question.getQuestion()}"></span>&rdquo;?</h4>

	<p class="center">
		<img
			th:alt="${'Question' + ' ' + question.getQuestionNum()}"
			th:src="${binary}"
			class="question" />
	</p>

	<h4 class="center">Alternatives</h4>

	<form th:action="@{/answerQuestion}" method="POST">

		<div th:replace="fragments/questionAnsAlt :: questionAnsAlt"></div>

		<input type="hidden" name="playerId" th:value="${playerId}" />
		<input type="hidden" name="quizId" th:value="${quiz.getUniqueId()}" />
		<input type="hidden" name="questionNum" th:value="${question.getQuestionNum()}" />

		<p class="center"><input type="submit" value="Answer" class="button button2" /></p>

	</form>

	<form th:action="@{/exitQuiz}" method="POST">
		<input type="hidden" name="playerId" th:value="${playerId}" />
		<input type="hidden" name="quizId" th:value="${quiz.getUniqueId()}" />

		<p class="center"><input type="submit" value="Exit" class="button button5" /></p>
	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
