<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create new quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

<style>
</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>Create new quiz</h1>

<form th:action="@{/createQuiz}" method="post">
<table id="createQuizTable">
	<tr>
		<td><span class="">Title:</span></td>
		<td><input class="" type="text" name="quizTitle" /></td>
	</tr>
	<tr>
		<td><span class="">Topic / Category:</span></td>
		<td>
			<select id="quizTopic" name="quizTopic">
				<option value="0">Sports</option>
				<option value="1">Games &amp; Leisure</option>
				<option value="2">History</option>
				<option value="3">Culture</option>
				<option value="4">Literature</option>
				<option value="5">Music</option>
				<option value="6">Food &amp; Drinks</option>
				<option value="7">Animals &amp; Nature</option>
				<option value="8">Entertainment</option>
				<option value="9">Language</option>
				<option value="10">Movies &amp; TV Shows</option>
				<option value="11">Geography</option>
				<option value="12">Society</option>
				<option value="13">Technology &amp; Science</option>
				<option value="14">Other</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><span class="">Language:</span></td>
		<td>
			<select id="quizLang" name="quizLang">
				<option value="0">English</option>
				<option value="1">Swedish</option>
			</select>
		</td>
	</tr>
	<!-- tr>
		<td><span class="">Quiz max time:</span></td>
		<td>
			<select id="quizMaxTime" name="quizMaxTime">
				<option value="">1 hour</option>
				<option value="">30 min</option>
				<option value="">20 min</option>
				<option value="">10 min</option>
				<option value="">5 min</option>
			</select>
		</td>
	</tr -->
</table> <!-- createQuizTable -->

<p><input type="submit" value="To the questions" /></p>

</form>
</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
