<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create new quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

<style>
</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h1>Create new quiz</h1>

	<form th:action="@{/createQuiz}" method="POST">

		<p class="txtBold">Title:</p>
		<p>
			<input class="textFieldStyle1 w65" maxlength="45"
			    name="quizTitle" type="text" required />
		</p>

		<table id="createQuizTable">
			<tr>
				<td><span class="label1">Topic / Category:</span></td>
				<td>
					<select th:replace="fragments/quizTopic :: quizTopic"></select>
				</td>
			</tr>
			<tr>
				<td><span class="label1">Language:</span></td>
				<td>
					<select th:replace="fragments/quizLang :: quizLang"></select>
				</td>
			</tr>
			<tr>
				<td><span class="label1">Number of questions:</span></td>
				<td>
					<input min="2" max="30"
					    name="quizNumQuestionsGoal"
					    type="number" required />
				</td>
			</tr>
			<tr>
				<td><span class="label1">Admin password:</span></td>
				<td>
					<input class="textFieldStyle1"
					    maxlength="40" minlength="6"
					    name="adminPass" type="password"
					    required />
				</td>
			</tr>
		</table> <!-- createQuizTable -->

		<p><input type="submit" value="Ok, start adding questions &rsaquo;" class="button button1" /></p>

	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
