<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create new quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

<style>
</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>Create new quiz</h1>

<form th:action="@{/createQuiz}" method="post">
<table id="createQuizTable">
	<tr>
		<td><span class="">Title:</span></td>
		<td><input class="" type="text" name="quizTitle" /></td>
	</tr>
	<tr>
		<td><span class="">Topic / Category:</span></td>
		<td>
			<select th:replace="fragments/quizTopic :: quizTopic"></select>
		</td>
	</tr>
	<tr>
		<td><span class="">Language:</span></td>
		<td>
			<select th:replace="fragments/quizLang :: quizLang"></select>
		</td>
	</tr>
	<!-- tr>
		<td><span class="">Quiz max time:</span></td>
		<td>
			<select id="quizMaxTime" name="quizMaxTime">
				<option value="">1 hour</option>
				<option value="">30 min</option>
				<option value="">20 min</option>
				<option value="">10 min</option>
				<option value="">5 min</option>
			</select>
		</td>
	</tr -->
</table> <!-- createQuizTable -->

<p><input type="submit" value="Ok, start adding questions" /></p>

</form>
</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
