<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quiz  --  done adding questions</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>Done adding questions</h1>
<h2>Quiz created!</h2>
<p class="gfxSuccess">
Quiz
<span th:text="${quizTitle}"></span>
(<span th:text="${quizTopic}"></span>)
has been successfully created.
With a total of
<span th:text="${numQuestions}"></span>
questions.
</p>
</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
