<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Exited Quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	.item {
		color: grey;
		font-weight: bold;
	}
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h1>Exited Quiz</h1>

	<p class="gfxWarn">
		You ended quiz
		<span class="item" th:text="${quiz.getTitle()}"></span>
		(<span class="item" th:text="${quiz.getTopicString()}"></span>)
		without completing it.
	</p>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
