<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quiz completed!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	.question {
		font-size: large;
		font-weight: bold;
	}
	.questionNum {
		color: peru;
	}
	.questionText {
		color: grey;
	}
	.opt {
		color: mediumseagreen;
		font-size: medium;
		font-weight: bold;
	}
	.optText {
		font-size: medium;
		text-decoration: underline;
		text-decoration-color: mediumseagreen;
	}
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<div class="centerDiv"><h1>Quiz completed!</h1></div>

	<p class="center txtXXlarge">
		You answered
		<span th:text="${rightAnswersCount}" class="gfxSuccess"></span>
		questions correctly out of
		<span th:text="${possibleRightAnswers}" class="gfxSuccess"></span>
		possible.
	</p>

	<div class="centerDiv" th:each="qna: ${qnaList}">
		<p class="question">
			<span th:text="${qna.getQuestionNum()}" class="questionNum"></span>.
			&ldquo;<span th:text="${qna.getQuestionText()}" class="questionText"></span>&rdquo;?
		</p>
		<p th:if="${qna.isRightAnswer()}" class="gfxSuccess">
			Correct
		</p>
		<p th:unless="${qna.isRightAnswer()}" class="gfxFailure">
			Wrong
		</p>
		<h5 th:if="${qna.hasTwoOrMoreAnswers()}">Right answers</h5>
		<h5 th:unless="${qna.hasTwoOrMoreAnswers()}">Right answer</h5>
		<table>
			<tr th:each="e: ${qna.getListOfRightAnswers()}">
				<td th:text="${e.getOpt() + ':'}" class="opt">
				</td>
				<td th:text="${e.getText()}" class="optText">
				</td>
			</tr>
		</table>
	</div>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
