<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QUIZ</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>QUIZ</h1>
<h2>Play a quiz</h2>
<p>
There are totally
<span th:text="${completeNumberOfQuizzes}"></span>
number of quizzes to play.
</p>

<form th:action="@{/}" method="post">
<table id="filterTable">
	<tr>
		<td><span class="">Topic / Category:</span></td>
		<td>
			<select th:replace="fragments/quizTopic :: quizTopic"></select>
		</td>
	</tr>
	<tr>
		<td><span class="">Language:</span></td>
		<td>
			<select th:replace="fragments/quizLang :: quizLang"></select>
		</td>
	</tr>
</table> <!-- filterTable -->

<p><input type="submit" value="Filter" /></p>

</form>

<div th:replace="fragments/showQuizzesV2 :: showQuizzesV2"></div>
</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
