<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quiz  --  Play quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">

	<h1>Play quiz</h1>

	<h2 th:text="${quiz.getTitle()}"></h2>

	<table id="">
	<tr>
		<td><span class="label1">Topic:</span></td>
		<td th:text="${quiz.getTopicString()}"></td>
	</tr>
	<tr>
		<td><span class="label1">In Language:</span></td>
		<td th:text="${quiz.getLangString()}"></td>
	</tr>
	<tr>
		<td><span class="label1">Questions:</span></td>
		<td th:text="${quiz.getNumQuestions()}"></td>
	</tr>
	</table>

	<form th:action="@{/askQuestion}" method="GET">
		<input type="hidden" name="quizId" th:value="${quiz.getUniqueId()}" />
		<input type="hidden" name="questionNum" th:value="${questionNum}" />

		<p><input type="submit" value="Start" /></p>

	</form>

</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
