<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quiz  --  Play quiz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />

	<style>
	</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h1>Play quiz</h1>
<h2 th:text="${quiz.getTitle()}"></h2>
<p>Under construction.</p>
</div> <!-- middle -->

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
